<div class="jumbotron">
    <h1>Question</h1>
        <div class="col-md">
            <h2><%= question %></h2>
        	<div class="col-md-offset-5 text-left">
	            <% _.each(answers, function(answer){ %>
	            	<input type="radio" name="answers" id="a<%= answer.id %>" value="<%= answer.id %>">
		            <label for="a<%= answer.id %>"><%= answer.value %></label>
		            <br>
		        <% }); %>
		    </div>
        </div>
    <p class="margin-top-30px"><a class="btn btn-lg btn-success next" href="#/thanks" disabled>Next</a></p>
</div>